@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700&display=swap');

/* common */
* {margin: 0; padding: 0; box-sizing: border-box; list-style: none; letter-spacing: -0.02em; font-family: 'Noto Sans KR', sans-serif; font-size: 14px;}
a {text-decoration: none;}
.wrap {width: 100%; overflow: hidden;}

/* header */
#header {position: relative; width: 100%; height: 100vh; overflow: hidden; background-color: #96bfe6;}

#header .menu-ico.on {opacity: 1; transition: 1.5s;}
#header .menu-ico {opacity: 0; position: fixed; top: 5%; right: 3%; padding: 30px; cursor: pointer; z-index: 1000;}
#header .menu {opacity: 0; position: fixed; top: 7%; right: 15%; transform: translateX(-50%); transition: all .3s ease-in; width: 70vw; border-bottom: 1px solid rgba(255, 255, 255, 0.5); z-index: 1000;}
#header .menu.on {opacity: 1; transform: translateX(0%); transition: all .3s ease-in;}
#header .menu.on ul > li:nth-child(1) {opacity: 1; transform: translateX(0%); transition: all .3s .6s ease-in;}
#header .menu.on ul > li:nth-child(2) {opacity: 1; transform: translateX(0%); transition: all .3s .8s ease-in;}
#header .menu.on ul > li:nth-child(3) {opacity: 1; transform: translateX(0%); transition: all .3s 1s ease-in;}
#header .menu.on ul > li:nth-child(4) {opacity: 1; transform: translateX(0%); transition: all .3s 1.2s ease-in;}
#header .menu.on ul > li:nth-child(5) {opacity: 1; transform: translateX(0%); transition: all .3s 1.4s ease-in;}
#header .menu > ul {display: flex; justify-content: space-between;}
#header .menu > ul > li {opacity: 0; transform: translateX(-50%); flex-direction: row; padding: 1.8em;}
#header .menu > ul > li > a {color: #fff; font-size: 18px; font-weight: 600;}
#header .menu > ul > li > a:hover {color: #f9dd6b;}

#header .scroll-position {position: fixed; bottom: 4%; left: 4%; width: 50px; height: 50px;
                        line-height: 50px; text-align: center; color: #fff; z-index: 1000;}

#header .aside.show {opacity: 1; transition: 1.5s;}
#header .aside {opacity: 0; position: fixed; top: 50%; left: -220px; transform: rotate(-90deg); z-index: 1000;}
#header .aside > ul {display: flex; justify-content: start;}
#header .aside > ul > li {flex-direction: row; padding: 1.5em;}
#header .aside > ul > li > p {color: #fff; font-size: 18px; font-weight: 500;}

#header .home {position: absolute; top: 30%; left: 15%;}
#header .home .first span {opacity: 0; color: #f9dd6b; font-family: 'Montserrat', sans-serif; font-size: 8rem; font-weight: 800;}
#header .home .second span {opacity: 0; color: #f9dd6b; font-family: 'Montserrat', sans-serif; font-size: 8rem; font-weight: 800;}
#header .home .third span {opacity: 0; color: #7a55e7; font-family: 'Montserrat', sans-serif; font-size: 7rem; font-weight: 700;}
#header .home .fourth span {opacity: 0; color: #7a55e7; font-family: 'Montserrat', sans-serif; font-size: 7rem; font-weight: 700;}
#header .home .first.show span:nth-child(2n+1) {opacity: 1; transition:.5s;}
#header .home .first.show span:nth-child(2n) {opacity: 1; transition: 1.5s;}
#header .home .second.show span:nth-child(2n+1) {opacity: 1; transition:.5s;}
#header .home .second.show span:nth-child(2n) {opacity: 1; transition: 1.5s;}
#header .home .third.show span:nth-child(2n+1) {opacity: 1; transition:.5s;}
#header .home .third.show span:nth-child(2n) {opacity: 1; transition: 1.5s;}
#header .home .fourth.show span:nth-child(2n+1) {opacity: 1; transition:.5s;}
#header .home .fourth.show span:nth-child(2n) {opacity: 1; transition: 1.5s;}
.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: #FFB1A4;
  width: 20vmax;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move {
  0%   { transform: scale(1)   translate(10px, -30px); }
  38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(10px, -30px); }
}

/* contents */
#contents .about:after {content: ''; width: 100%; height: 200px; background: #f9dd6b; position: absolute; top: -92px; left: 0; transform: skew(0,-5deg); z-index: 100;}
#contents .about {position: relative; width: 100%; height: 200vh; background-color: #7a55e7;}
#contents .about h1 {opacity: 0; transition: 1s; padding-top: 200px; color: #fff; font-size: 4rem; font-weight: 500; line-height: 8rem; text-align: center;}
#contents .about h1.on {opacity: 1; padding-top: 300px; transition: 1s;}
#contents .text-box:before {content: ''; position: absolute; top: 0; right: 0; left: 0; width: 100%; height: 1px; background: rgba(255, 255, 255, 0.5); transition: all 0.5s cubic-bezier(.645,.045,.355,1);}
#contents .text-box {position: absolute; top: 55%; left: 50%; transform: translateX(-50%) translateY(-50%); width: 50vw; height: 120vh;}
#contents .text-box .text-title {padding-top: 70px; padding-bottom: 100px;}
#contents .text-box p {color: #f9dd6b; font-size: 4rem; font-weight: 600; line-height: 4.5rem;}
#contents .text-box b {display: block; padding-top: 60px; padding-bottom: 20px; color: #fff; font-size: 2.3rem; font-weight: 500;}
#contents .text-box span {display: block; color: #fff; font-size: 18px; font-weight: 200; line-height: 2.5rem;}
#contents .text-box .textA {opacity: 0; transition: .5s ease-in-out;}
#contents .text-box .textB {opacity: 0; transition: .5s ease-in-out;}
#contents .text-box .textC {opacity: 0; transition: .5s ease-in-out;}
#contents .text-box .textA.show {opacity: 1; transition: .5s ease-in-out;}
#contents .text-box .textB.show {opacity: 1; transition: .5s ease-in-out;}
#contents .text-box .textC.show {opacity: 1; transition: .5s ease-in-out;}

/* works */
#contents .works:after {content: ''; width: 100%; height: 200px; background: #f9dd6b; position: absolute; top: -100px; left: 0; transform: skew(0,-5deg); z-index: 100;}
#contents .works {position: relative; width: 100%; height: 230vh; background-color: #f9dd6b;}
#contents .works h1 {padding-top: 150px; color: #7a55e7; font-size: 4rem; font-weight: bold; line-height: 8rem; text-align: center;}
#contents .works .work-btn {position: absolute; padding-top: 10px; left: 90%; transform: translateX(-50%);}
#contents .works .work-btn a {display: block; color: #fff; line-height: 30px; width: auto; padding: .5em 2em;}
.hover_wrap {
    position: absolute;
    top: 16%;
    left: 25%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
  }
  .hover_wrap .effect {width: 230px; height: 230px; margin: 50px;
      position: relative;
  }
  .hover_wrap .effect .front {
      position: absolute; left: 0; top: 0; z-index: 10;
  }
  .hover_wrap .effect .back {
      position: absolute; left: 0; top: 0; text-align: center;
  }
  .hover_wrap .effect .figcaption {
    opacity: 0;
    position: absolute; bottom: 0; left: 105%;
    width: 0;
    height: 230px;
    box-sizing: border-box;
    color: #fff;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.7);
    text-align: left;
    padding: 5px 0;
    transition: 1s ease-in-out;
  }
  .hover_wrap .effect .figcaption h3 {
    padding-left: 25px; padding-top: 20px; font: 16px 'NotoSansKR', sans-serif; font-weight: bold;
  }
  .hover_wrap .effect .figcaption p {
    padding-left: 25px; padding-right: 30px; font: 14px 'NotoSansKR', sans-serif; font-weight: 100;
  }

  .hover_wrap .effect.show .figcaption {
    opacity: 1;
    width: 50vw;
    background: rgba(0,0,0,0.5);
    transition: 1s ease-in-out;
  }
  
  .hover_wrap .effect img {
      width: 100%; display: block;
  }
  
  /* hover effect */
  .hover_wrap .effect.hover .front {
      transform: rotatey(0deg);
      transition: transform 1s;
      backface-visibility: hidden;
  }
  .hover_wrap .effect.hover:hover .front {
      transform: rotatey(180deg);
  }
  .hover_wrap .effect.hover .back {
      transform: rotatey(-180deg);
      transition: transform 1s;
  }
  .hover_wrap .effect.hover:hover .back {
      transform: rotatey(0deg);
  }


/* contact */
#contents .contact:after {content: ''; width: 100%; height: 200px; background: #7a55e7; position: absolute; top: -97px; left: 0; transform: skew(0,-5deg); z-index: 100;}
#contents .contact {position: relative; width: 100%; height: 100vh; background-color: #7a55e7;}
#contents .contact .inn {width: 1050px; margin: 0 auto;}
#contents .contact .inn .form-area {width: 350px; position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);}
#contents .contact .inn h1 {text-align: center; font-size: 4rem; color: #f9dd6b; font-weight: 600;}
#contents .contact .inn p {padding: 10px 10px 20px 5px; font: 14px/20px 'Noto Sans KR', sans-serif; color: #fff; font-weight: 300;}
#contents .contact .inn input {width: 350px; margin: 5px; padding: 5px; font: 14px/2em 'Noto Sans KR', sans-serif; color: #333; font-weight: 300;}
#contents .contact .inn textarea {width: 350px; height: 350px; margin: 5px; padding: 5px; font: 14px/2em 'Noto Sans KR', sans-serif; color: #333; font-weight: 300;}
#contents .contact .inn .post-btn {position: absolute; left: 50%; transform: translateX(-50%); margin-top: 25px;}

#contents .contact .top-ico {position: absolute; bottom: 40px; right: 40px; width: 66px; height: 30px; border: solid 2px #fff; border-radius: 70px; box-sizing: border-box;}
#contents .contact .top-ico .top-button {margin-left: 30px; font-size: 12px; color: #fff; line-height: 26px;}
#contents .contact .top-ico .top-button-circle {position: absolute; top: 4px; left: 4px; width: 18px; height: 18px; background: #fff; border-radius: 50px;}
#contents .contact .top-ico:hover .top-button-circle {animation-fill-mode: forwards; animation-direction: alternate; animation-duration: .8s; animation-name: top-on;}
#contents .contact .top-ico:hover {animation-fill-mode: forwards; animation-direction: alternate; animation-duration: .8s; animation-name: top-on-bg;}
#contents .contact .top-ico:hover .top-text {opacity: 0;}
@keyframes top-on {
  from {
    left: 2px;
  }

  to {
    left: 40px;
    background: #fff;
  }
}
@keyframes top-on-bg {
  from {
    background: #fff;
  }

  to {
    background: #7fcdda;
    border-color: #7fcdda;
  }
}
